<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-러쉬" data-toc-modified-id="1.-러쉬-1">1. 러쉬</a></span></li><li><span><a href="#2.-아로마티카" data-toc-modified-id="2.-아로마티카-2">2. 아로마티카</a></span></li><li><span><a href="#3.-클레어스" data-toc-modified-id="3.-클레어스-3">3. 클레어스</a></span></li><li><span><a href="#4.-이든-미네랄" data-toc-modified-id="4.-이든-미네랄-4">4. 이든 미네랄</a></span></li><li><span><a href="#5.-오엠" data-toc-modified-id="5.-오엠-5">5. 오엠</a></span></li><li><span><a href="#6.-기타-사이트" data-toc-modified-id="6.-기타-사이트-6">6. 기타 사이트</a></span></li></ul></div>

adorable(사이트 X), sephora(robots.txt -> search disallow)

아떼

In [1]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup
import requests

import warnings
warnings.filterwarnings('ignore')

# 1. 러쉬

In [41]:
url = 'https://lush.co.kr/goods/goods_list.php?cateCd=001019001'
html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
# html

In [11]:
# 소분류명 수집
so_cat = html.find_all('span', class_='on')
print(len(so_cat))
so_cat

1

In [17]:
import re

re.compile('[가-힣]+').findall(so_cat[0].text)[0]

'배쓰'

In [4]:
# 상품명 수집
item = html.find_all('span', class_='prdName')
print(len(item))
item[:5]

72

[<span class="prdName">킵 잇 플러피 퍼퓸 버블 보틀</span>,
 <span class="prdName">카마 퍼퓸 버블 보틀</span>,
 <span class="prdName">디어 존 퍼퓸 버블 보틀</span>,
 <span class="prdName">더티 퍼퓸 버블 보틀</span>,
 <span class="prdName">러브 퍼퓸 버블 보틀</span>]

In [6]:
# 가격 수집 (정가)
price = html.find_all('span', class_='cost')
print(len(price))
price[:5]

72

[<span class="cost">
 <strong>￦ 23,000</strong> </span>,
 <span class="cost">
 <strong>￦ 35,000</strong> </span>,
 <span class="cost">
 <strong>￦ 35,000</strong> </span>,
 <span class="cost">
 <strong>￦ 23,000</strong> </span>,
 <span class="cost">
 <strong>￦ 35,000</strong> </span>]

In [9]:
price[0].text.replace('\n','').strip()

'￦ 23,000'

In [10]:
# 러쉬는 할인을 안 해..

In [18]:
# 최종 스크래핑 코드
def cosmetic_scraping(category):
    
    total_data = []
    for cat in category:
        url = f'https://lush.co.kr/goods/goods_list.php?cateCd={cat}'
        html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
        
        # 소분류명, 상품명, 가격 (정가, 할인가)
        so_cat = html.find_all('span', class_='on')
        so_cat2 = re.compile('[가-힣]+').findall(so_cat[0].text)[0]
        item = html.find_all('span', class_='prdName')
        price = html.find_all('span', class_='cost')

        data = []
        for i in range(len(item)):
            item2 = item[i].text
            price2 = price[i].text.replace('\n','').strip()
            data.append([so_cat2, item2, price2])
        total_data.append(data)
    
    df = pd.DataFrame(sum(total_data, []))
    df.columns = ['소분류명', '상품명', '정가']
    return df

In [34]:
# 카테고리 선정 후 수집
df = cosmetic_scraping(['001019001','001019002','001019003','001019004','001019005','001019006','001019007'])
print(df.shape)
df.head()

(352, 3)

  소분류명               상품명        정가
0   배쓰  킵 잇 플러피 퍼퓸 버블 보틀  ￦ 23,000
1   배쓰       카마 퍼퓸 버블 보틀  ￦ 35,000
2   배쓰     디어 존 퍼퓸 버블 보틀  ￦ 35,000
3   배쓰       더티 퍼퓸 버블 보틀  ￦ 23,000
4   배쓰       러브 퍼퓸 버블 보틀  ￦ 35,000

In [36]:
df['브랜드명'], df['할인가'] = '러쉬', ' '
df = df[['브랜드명','소분류명','상품명','정가','할인가']]
df['정가'] = df['정가'].apply(lambda x: x.replace('￦ ','') + '원')
df.reset_index(drop=True, inplace=True)
print(df.shape)
df.head()

(352, 5)

  브랜드명 소분류명               상품명       정가 할인가
0   러쉬   배쓰  킵 잇 플러피 퍼퓸 버블 보틀  23,000원
1   러쉬   배쓰       카마 퍼퓸 버블 보틀  35,000원
2   러쉬   배쓰     디어 존 퍼퓸 버블 보틀  35,000원
3   러쉬   배쓰       더티 퍼퓸 버블 보틀  23,000원
4   러쉬   배쓰       러브 퍼퓸 버블 보틀  35,000원

In [37]:
df.to_csv('./cosmetic/러쉬.csv', index=False)

In [39]:
df[df.상품명.duplicated()]

    브랜드명 소분류명                      상품명       정가 할인가
54    러쉬   배쓰                     레인보우  20,000원
71    러쉬   배쓰                    더 컴포터  18,000원
80    러쉬   샤워                      슬리피   8,000원
92    러쉬   샤워                     레인보우  20,000원
93    러쉬   샤워             몬스터스 & 에일리언스  19,000원
110   러쉬   보디                       팅글  34,000원
111   러쉬   보디                  팅글 225g  45,000원
116   러쉬   보디  오션 솔트 셀프-프리저빙 120g/250g  27,000원
131   러쉬   보디                   버피 90g  17,000원
149   러쉬  페이스  오션 솔트 셀프-프리저빙 120g/250g  27,000원
151   러쉬  페이스    렛 더 굿 타임즈 롤 100g/250g  22,000원
154   러쉬  페이스           허벌리즘 100g/250g  22,000원
159   러쉬  페이스    엔젤스 온 배어 스킨 100g/250g  22,000원
160   러쉬  페이스        아쿠아 마리나 100g/250g  22,000원
164   러쉬  페이스         다크 엔젤스 100g/250g  22,000원
251   러쉬   퍼퓸                      사쿠라  60,000원
337   러쉬   퍼퓸                    트와일라잇  50,000원

# 2. 아로마티카

In [102]:
url = 'https://aromatica.co.kr/product/list.html?cate_no=681'
html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
# html

In [103]:
# 상품명 수집
item = html.find_all('span', style='font-size:15px;color:#000000;')
print(len(item))
item[:5]

51

[<span style="font-size:15px;color:#000000;">티트리 밸런싱 클렌징 바</span>,
 <span style="font-size:15px;color:#000000;">티트리 포어 퓨리파잉 클렌징 워터<br/>1% 나이아신아마이드+0.5% BHA</span>,
 <span style="font-size:15px;color:#000000;">티트리 포어 퓨리파잉 클렌징 워터 리필<br/>1% 나이아신아마이드+0.5% BHA 300ml</span>,
 <span style="font-size:15px;color:#000000;">알로에 하이펙티브 클렌저5% Hyaluronic sol.+ 0.1% Enzyme</span>,
 <span style="font-size:15px;color:#000000;">바이탈라이징 로즈마리 올인원 워시</span>]

In [139]:
# 가격 수집 (정가, 할인가)
price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem')
print(len(price))
price[0]

51

<ul class="xans-element- xans-product xans-product-listitem"><li class=" xans-record-">
<strong class="title displaynone"><span style="font-size:13px;color:#000000;">판매가</span> </strong> <span style="font-size:13px;color:#000000;text-decoration:line-through;">15,000 won</span><span id="span_product_tax_type_text" style="text-decoration:line-through;"> </span></li>
<li class=" xans-record-">
<strong class="title displaynone"><span style="font-size:15px;color:#44918c;font-weight:bold;">혜택가</span> </strong> <span style="font-size:15px;color:#44918c;font-weight:bold;">9,000 won <span style="font-size:12px;color:#797979;">(40%↓)</span></span></li>
</ul>

In [155]:
if price[2].find_all('span', style='font-size:15px;color:#44918c;font-weight:bold;') == []:
    print(price[2].find_all('span', style='font-size:13px;color:#000000;')[1].text)
else:
    print('할인가:', price[2].find_all('span', style='font-size:15px;color:#44918c;font-weight:bold;')[1].text)
    print('원가:', price[2].find('span', style='font-size:13px;color:#000000;text-decoration:line-through;').text)

할인가: 12,000 won (40%↓)
원가: 20,000 won

In [156]:
# 최종 스크래핑 코드
def cosmetic_scraping(category):
    
    total_data = []
    for cat in category:
        url = f'https://aromatica.co.kr/product/list.html?cate_no={cat}'
        html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
        
        # 소분류명, 상품명, 가격 (정가, 할인가)
        cat_dict = {'681':'스킨 케어','682':'헤어 케어','668':'바디 케어',\
                    '766':'메이크업','696':'라이프 케어','565':'아로마테라피'}
        so_cat = cat_dict[cat]
        item = html.find_all('span', style='font-size:15px;color:#000000;')
        price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem')

        data = []
        for i in range(len(item)):
            item2 = item[i].text
            if price[i].find_all('span', style='font-size:15px;color:#44918c;font-weight:bold;') == []:
                price2 = price[i].find_all('span', style='font-size:13px;color:#000000;')[1].text
                price3 = ' '
            else:
                price2 = price[i].find('span', style='font-size:13px;color:#000000;text-decoration:line-through;').text
                price3 = price[i].find_all('span', style='font-size:15px;color:#44918c;font-weight:bold;')[1].text
            data.append([so_cat, item2, price2, price3])
        total_data.append(data)
    
    df = pd.DataFrame(sum(total_data, []))
    df.columns = ['소분류명', '상품명', '정가', '할인가']
    return df

In [157]:
# 카테고리 선정 후 수집
category = ['681','682','668','766','696','565']
df = cosmetic_scraping(category)
print(df.shape)
df.head()

(148, 4)

,소분류명,상품명,정가,할인가
0,스킨 케어,티트리 밸런싱 클렌징 바,"15,000 won","9,000 won (40%↓)"
1,스킨 케어,티트리 포어 퓨리파잉 클렌징 워터1% 나이아신아마이드+0.5% BHA,"22,000 won","13,200 won (40%↓)"
2,스킨 케어,티트리 포어 퓨리파잉 클렌징 워터 리필1% 나이아신아마이드+0.5% BHA 300ml,"20,000 won","12,000 won (40%↓)"
3,스킨 케어,알로에 하이펙티브 클렌저5% Hyaluronic sol.+ 0.1% Enzyme,"16,000 won","9,600 won (40%↓)"
4,스킨 케어,바이탈라이징 로즈마리 올인원 워시,"18,000 won","10,800 won (40%↓)"

In [171]:
df['브랜드명'] = '아로마티카'

df['정가'] = df['정가'].apply(lambda x: x.split(' ')[0]+'원')
for i in range(len(df)):
    if df['할인가'][i] != ' ':
        df['할인가'][i] = df['할인가'][i].split(' ')[0]+'원'

df = df[['브랜드명','소분류명','상품명','정가','할인가']]
df.reset_index(drop=True, inplace=True)
print(df.shape)
df.head()

(148, 5)

,브랜드명,소분류명,상품명,정가,할인가
0,아로마티카,스킨 케어,티트리 밸런싱 클렌징 바,"15,000원","9,000원"
1,아로마티카,스킨 케어,티트리 포어 퓨리파잉 클렌징 워터1% 나이아신아마이드+0.5% BHA,"22,000원","13,200원"
2,아로마티카,스킨 케어,티트리 포어 퓨리파잉 클렌징 워터 리필1% 나이아신아마이드+0.5% BHA 300ml,"20,000원","12,000원"
3,아로마티카,스킨 케어,알로에 하이펙티브 클렌저5% Hyaluronic sol.+ 0.1% Enzyme,"16,000원","9,600원"
4,아로마티카,스킨 케어,바이탈라이징 로즈마리 올인원 워시,"18,000원","10,800원"

In [174]:
df.to_csv('./cosmetic/아로마티카.csv', index=False)

In [175]:
df[df.상품명.duplicated()]

      브랜드명    소분류명                          상품명       정가      할인가
84   아로마티카   바디 케어                티트리 밸런싱 클렌징 바  15,000원   9,000원
85   아로마티카   바디 케어           바이탈라이징 로즈마리 올인원 워시  18,000원  10,800원
86   아로마티카   바디 케어  바이탈라이징 로즈마리 올인원 워시 리필 500ml  22,000원  13,200원
89   아로마티카   바디 케어     바이탈라이징 로즈마리 올인원 로션 300ml  22,000원  13,200원
90   아로마티카   바디 케어  바이탈라이징 로즈마리 올인원 로션 리필 500ml  28,000원  16,800원
97   아로마티카   바디 케어         나무 돌고래 페이스 & 바디 마사지툴  19,000원
111  아로마티카  라이프 케어         아로마티카 에이콜로지 브랜드 북 세트  28,000원  16,800원
117  아로마티카  라이프 케어          에센셜 핸드 새니타이저겔 500ml  12,000원   7,200원
118  아로마티카  라이프 케어           에센셜 핸드 새니타이저겔 30ml   3,000원
123  아로마티카  라이프 케어         퓨어 앤 소프트 여성청결제 300ml  22,000원  13,200원
124  아로마티카  라이프 케어             단델리온 페미닌 젤 250ml  18,000원  10,800원
125  아로마티카  라이프 케어              단델리온 페미닌 젤 30ml   3,000원
126  아로마티카  라이프 케어           로즈마리 스칼프 스케일링 샴푸 바  15,000원   9,000원
127  아로마티카  라이프 케어           로즈마리 헤어 씨크닝 컨디셔너 바  15,000원   9,000원
145  아로마티카  아로마테라피               컴포팅 칼렌듈라 디콕션 밤  12,000원   7,200원
146  아로마티카  아로마테라피       홀리스틱 레미디 어노인팅 (동방박사) 밤  16,000원   9,600원

# 3. 클레어스

In [3]:
url = 'https://www.klairs.com/shop/search_result.php?search_str=%EB%B9%84%EA%B1%B4&cate=1030&ctype=big'
html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
# html

In [4]:
# 소분류명 수집
so_cat = html.find_all('a', class_='selected')
print(len(so_cat))
so_cat

2

[<a class="selected" href="?search_str=%EB%B9%84%EA%B1%B4&amp;cate=1030&amp;ctype=big">클렌징</a>,
 <a class="selected" href="https://www.klairs.com/shop/search_result.php?search_str=%EB%B9%84%EA%B1%B4&amp;cate=1030&amp;ctype=big">ALL</a>]

In [5]:
so_cat[0].text

'클렌징'

In [36]:
# 상품명 수집
item = html.find_all('p', class_='name')
print(len(item))
item[:3]

11

[<p class="name"><a href="https://www.klairs.com/shop/detail.php?pno=1679091C5A880FAF6FB5E6087EB1B2DC&amp;rURL=https%3A%2F%2Fwww.klairs.com%2Fshop%2Fsearch_result.php%3Fsearch_str%3D%25EB%25B9%2584%25EA%25B1%25B4%26cate%3D1030%26ctype%3Dbig&amp;ctype=1&amp;cno1=">리치 모이스트 포밍 클렌저</a></p>,
 <p class="name"><a href="https://www.klairs.com/shop/detail.php?pno=6C3CF77D52820CD0FE646D38BC2145CA&amp;rURL=https%3A%2F%2Fwww.klairs.com%2Fshop%2Fsearch_result.php%3Fsearch_str%3D%25EB%25B9%2584%25EA%25B1%25B4%26cate%3D1030%26ctype%3Dbig&amp;ctype=1&amp;cno1=">젠틀 블랙 프레쉬 클렌징 오일</a></p>,
 <p class="name"><a href="https://www.klairs.com/shop/detail.php?pno=F718499C1C8CEF6730F9FD03C8125CAB&amp;rURL=https%3A%2F%2Fwww.klairs.com%2Fshop%2Fsearch_result.php%3Fsearch_str%3D%25EB%25B9%2584%25EA%25B1%25B4%26cate%3D1030%26ctype%3Dbig&amp;ctype=1&amp;cno1=">젠틀 블랙 딥 클렌징 오일</a></p>]

In [39]:
# 가격 수집 (정가, 할인가)
price = html.find_all('p', class_='price')
print(len(price))
price[:5]

11

[<p class="price">
 <span class="sprice">12,500</span>원

 	</p>,
 <p class="price">
 <span class="sprice">16,900</span>원

 	</p>,
 <p class="price">
 <span class="sprice">14,900</span>원

 	</p>,
 <p class="price">
 <span class="sale">10%</span>
 <span class="sprice">22,800</span>원
 		<span class="nprice">25,400</span>
 </p>,
 <p class="price">
 <span class="sale">10%</span>
 <span class="sprice">39,500</span>원
 		<span class="nprice">43,900</span>
 </p>]

In [40]:
if price[3].find('span', class_='sale') is None:
    print(price[3].text.strip())
else:
    print('할인가:', price[3].find('span', class_='sprice').text)
    print('원가:', price[3].find('span', class_='nprice').text + '원')

할인가: 22,800
원가: 25,400원

In [46]:
# 최종 스크래핑 코드
def cosmetic_scraping(category):
    
    total_data = []
    for cat in category:
        url = f'https://www.klairs.com/shop/search_result.php?search_str=%EB%B9%84%EA%B1%B4&cate={cat}&ctype=big'
        html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
        
        # 소분류명, 상품명, 가격 (정가, 할인가)
        so_cat = html.find_all('a', class_='selected')[0].text
        item = html.find_all('p', class_='name')
        price = html.find_all('p', class_='price')

        data = []
        for i in range(len(item)):
            item2 = item[i].text
            if price[i].find('span', class_='sale') is None:
                price2 = price[i].text.strip()
                price3 = ' '
            else:
                price2 = price[i].find('span', class_='nprice').text + '원'
                price3 = price[i].find('span', class_='sprice').text + '원'
            data.append([so_cat, item2, price2, price3])
        total_data.append(data)
    
    df = pd.DataFrame(sum(total_data, []))
    df.columns = ['소분류명', '상품명', '정가', '할인가']
    return df

In [47]:
# 카테고리 선정 후 수집
df = cosmetic_scraping(['1030','1005','1024','1025','1028'])
print(df.shape)
df.head()

(36, 4)

  소분류명               상품명       정가      할인가
0  클렌징    리치 모이스트 포밍 클렌저  12,500원
1  클렌징  젠틀 블랙 프레쉬 클렌징 오일  16,900원
2  클렌징    젠틀 블랙 딥 클렌징 오일  14,900원
3  클렌징  GENTLE BLACK duo  25,400원  22,800원
4  클렌징  GENTLE BLACK BOX  43,900원  39,500원

In [49]:
df['브랜드명'] = '클레어스'
df = df[['브랜드명','소분류명','상품명','정가','할인가']]
df.reset_index(drop=True, inplace=True)
print(df.shape)
df.head()

(36, 5)

   브랜드명 소분류명               상품명       정가      할인가
0  클레어스  클렌징    리치 모이스트 포밍 클렌저  12,500원
1  클레어스  클렌징  젠틀 블랙 프레쉬 클렌징 오일  16,900원
2  클레어스  클렌징    젠틀 블랙 딥 클렌징 오일  14,900원
3  클레어스  클렌징  GENTLE BLACK duo  25,400원  22,800원
4  클레어스  클렌징  GENTLE BLACK BOX  43,900원  39,500원

In [50]:
df.to_csv('./cosmetic/클레어스.csv', index=False)

In [51]:
df[df.상품명.duplicated()]

Empty DataFrame
Columns: [브랜드명, 소분류명, 상품명, 정가, 할인가]
Index: []

# 4. 이든 미네랄

In [52]:
url = 'https://idunminerals.co.kr/category/face/29/'
html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
# html

In [55]:
# 상품명 수집
item = html.find_all('strong', class_='name')
print(len(item))
item[:3]

12

[<strong class="name"><a class="" href="/product/아이리스-페이스-프라이머/9/category/29/display/1/"><span class="title displaynone"><span style="font-size:15px;color:#282623;">상품명</span> :</span> <span style="font-size:15px;color:#282623;">아이리스 페이스 프라이머</span></a></strong>,
 <strong class="name"><a class="" href="/product/파우더-파운데이션/13/category/29/display/1/"><span class="title displaynone"><span style="font-size:15px;color:#282623;">상품명</span> :</span> <span style="font-size:15px;color:#282623;">파우더 파운데이션</span></a></strong>,
 <strong class="name"><a class="" href="/product/미네랄-브론저/18/category/29/display/1/"><span class="title displaynone"><span style="font-size:15px;color:#282623;">상품명</span> :</span> <span style="font-size:15px;color:#282623;">미네랄 브론저</span></a></strong>]

In [58]:
item[0].text.replace('상품명 : ', '')

'아이리스 페이스 프라이머'

In [83]:
# 가격 수집 (정가, 할인가)
price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem spec')
print(len(price))
price[:2]

12

[<ul class="xans-element- xans-product xans-product-listitem spec"><li class=" display판매가 xans-record-">
 <strong class="title displaynone"><span style="font-size:14px;color:#282623;">판매가</span> :</strong> <span style="font-size:14px;color:#282623;">42,000원</span><span id="span_product_tax_type_text" style=""> </span></li>
 </ul>,
 <ul class="xans-element- xans-product xans-product-listitem spec"><li class=" display판매가 xans-record-">
 <strong class="title displaynone"><span style="font-size:14px;color:#282623;">판매가</span> :</strong> <span style="font-size:14px;color:#282623;">48,000원</span><span id="span_product_tax_type_text" style=""> </span></li>
 </ul>]

In [86]:
if price[3].find('li', class_=' display할인판매가 xans-record-') is None:
    print(price[3].find('li', class_=' display판매가 xans-record-').text.replace('판매가 : ', '').strip())
else:
    print('할인가:', price[3].find('li', class_=' display할인판매가 xans-record-').text.replace('할인판매가 : ', '').strip())
    print('원가:', price[3].find('li', class_=' display판매가 xans-record-').text.replace('판매가 : ', '').strip())

할인가: 65,600원
원가: 82,000원

In [94]:
# 최종 스크래핑 코드
def cosmetic_scraping(category, number):
    
    total_data = []
    for cat, num in zip(category, number):
        url = f'https://idunminerals.co.kr/category/{cat}/{num}/'
        html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
        
        # 소분류명, 상품명, 가격 (정가, 할인가)
        so_cat = cat
        item = html.find_all('strong', class_='name')
        price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem spec')

        data = []
        for i in range(len(item)):
            item2 = item[i].text.replace('상품명 : ', '')
            price2 = price[i].find('li', class_=' display판매가 xans-record-').text.replace('판매가 : ', '').strip()
            if price[i].find('li', class_=' display할인판매가 xans-record-') is None:
                price3 = ' '
            else:
                price3 = price[i].find('li', class_=' display할인판매가 xans-record-').text.replace('할인판매가 : ', '').strip()
            data.append([so_cat, item2, price2, price3])
        total_data.append(data)
    
    df = pd.DataFrame(sum(total_data, []))
    df.columns = ['소분류명', '상품명', '정가', '할인가']
    return df

In [98]:
# 카테고리 선정 후 수집
category = ['프라이머','파운데이션','블러셔','컨투어링','파우더',\
            '마스카라','아이섀도우','페이스','아이','cleansing']
number = ['52','54','56','57','58','64','65','68','69','32']
df = cosmetic_scraping(category, number)
print(df.shape)
df.head()

(26, 4)

    소분류명                   상품명       정가      할인가
0   프라이머         아이리스 페이스 프라이머  42,000원
1  파운데이션  롱웨어 리퀴드 파운데이션 노르딕 베일  48,000원
2  파운데이션   모이스처 리퀴드 파운데이션 노르스켄  48,000원
3  파운데이션             파우더 파운데이션  48,000원
4    블러셔      미네랄 블러셔 & 브러쉬 세트  66,000원  52,800원

In [99]:
df['브랜드명'] = '이든 미네랄'
df = df[['브랜드명','소분류명','상품명','정가','할인가']]
df.reset_index(drop=True, inplace=True)
print(df.shape)
df.head()

(26, 5)

     브랜드명   소분류명                   상품명       정가      할인가
0  이든 미네랄   프라이머         아이리스 페이스 프라이머  42,000원
1  이든 미네랄  파운데이션  롱웨어 리퀴드 파운데이션 노르딕 베일  48,000원
2  이든 미네랄  파운데이션   모이스처 리퀴드 파운데이션 노르스켄  48,000원
3  이든 미네랄  파운데이션             파우더 파운데이션  48,000원
4  이든 미네랄    블러셔      미네랄 블러셔 & 브러쉬 세트  66,000원  52,800원

In [100]:
df.to_csv('./cosmetic/이든 미네랄.csv', index=False)

In [101]:
df[df.상품명.duplicated()]

Empty DataFrame
Columns: [브랜드명, 소분류명, 상품명, 정가, 할인가]
Index: []

# 5. 오엠

In [2]:
url = 'https://www.omkorea.co.kr/category/face-oils-serums/46/'
html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
# html

In [6]:
# 상품명 수집
item = html.find_all('h3', class_='product-list-title')
print(len(item))
item[0].text.strip()

7

'리포솜 럭스 앰플 30ml'

In [22]:
# 가격 수집 (정가, 할인가)
price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem product-list-meta')
print(len(price))
price[0].find_all('span', style='font-size:12px;color:#8781bd;font-weight:bold;')[1].text

7

'108,000원'

In [31]:
if price[2].find_all('span', style='font-size:18px;color:#da2127;') == []:
    print(price[2].find_all('span', style='font-size:12px;color:#8781bd;font-weight:bold;')[1].text)
else:
    print('할인가:', price[2].find_all('span', style='font-size:18px;color:#da2127;')[1].text)
    print('원가:', price[2].find('span', style='font-size:12px;color:#8781bd;font-weight:bold;text-decoration:line-through;').text)

할인가: 158,400원 (10%할인)
원가: 176,000원

In [46]:
# 최종 스크래핑 코드
def cosmetic_scraping(category, number, page):
    
    total_data = []
    for cat, num in zip(category, number):
        for p in range(1, int(page)+1):
            url = f'https://www.omkorea.co.kr/category/{cat}/{num}/?page={str(p)}'
            html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")

            # 소분류명, 상품명, 가격 (정가, 할인가)
            so_cat = cat
            item = html.find_all('h3', class_='product-list-title')
            price = html.find_all('ul', class_='xans-element- xans-product xans-product-listitem product-list-meta')

            data = []
            for i in range(len(item)):
                item2 = item[i].text.strip()
                if price[i].find_all('span', style='font-size:18px;color:#da2127;') == []:
                    price2 = price[i].find_all('span', style='font-size:12px;color:#8781bd;font-weight:bold;')[1].text
                    price3 = ' '
                else:
                    price2 = price[i].find('span', style='font-size:12px;color:#8781bd;font-weight:bold;text-decoration:line-through;').text
                    price3 = price[i].find_all('span', style='font-size:18px;color:#da2127;')[1].text
                data.append([so_cat, item2, price2, price3])
            total_data.append(data)
    
    df = pd.DataFrame(sum(total_data, []))
    df.columns = ['소분류명', '상품명', '정가', '할인가']
    return df

In [39]:
# 카테고리 선정 후 수집
category = ['cleansing','toner','face-oils-serums','creams','special-care',\
            'lotions','body-oils','cleansers','bath-preparation']
number = ['28','29','46','47','48','50','52','33','32']
df = cosmetic_scraping(category, number, '1')
print(df.shape)
df.head()

(34, 4)

        소분류명                           상품명       정가 할인가
0  cleansing  [이효리클렌징]세이지 마사지 클린징 밀크 250ml  80,000원
1  cleansing                  트루 라벤더 솝 80g  25,000원
2  cleansing                      로즈 솝 80g  25,000원
3  cleansing                    캐모마일 솝 80g  25,000원
4      toner          부처브룸 토너 아스트린젠트 200ml  60,000원

In [47]:
df2 = cosmetic_scraping(['aroma'],['120'],'2')   # 페이지가 2개인 카테고리
print(df2.shape)
df2.head()

(16, 4)

    소분류명                  상품명       정가 할인가
0  aroma       레몬 에센셜 오일 10ml  38,000원
1  aroma      라벤더 에센셜 오일 10ml  38,000원
2  aroma     로즈마리 에센셜 오일 10ml  33,000원
3  aroma  스위트 오렌지 에센셜 오일 10ml  33,000원
4  aroma     시더우드 에센셜 오일 10ml  33,000원

In [60]:
o_df = pd.concat([df, df2], axis=0)
o_df['브랜드명'] = '오엠'
o_df = o_df[['브랜드명','소분류명','상품명','정가','할인가']]
o_df.reset_index(drop=True, inplace=True)

for i in range(len(o_df)):
    if o_df['할인가'][i] != ' ':
        o_df['할인가'][i] = o_df['할인가'][i].split()[0]

print(o_df.shape)
o_df.head()

(50, 5)

  브랜드명       소분류명                           상품명       정가 할인가
0   오엠  cleansing  [이효리클렌징]세이지 마사지 클린징 밀크 250ml  80,000원
1   오엠  cleansing                  트루 라벤더 솝 80g  25,000원
2   오엠  cleansing                      로즈 솝 80g  25,000원
3   오엠  cleansing                    캐모마일 솝 80g  25,000원
4   오엠      toner          부처브룸 토너 아스트린젠트 200ml  60,000원

In [62]:
o_df.to_csv('./cosmetic/오엠.csv', index=False)

In [63]:
o_df[o_df.상품명.duplicated()]

Empty DataFrame
Columns: [브랜드명, 소분류명, 상품명, 정가, 할인가]
Index: []

# 6. 기타 사이트


(마녀공장, 스킨푸드, 마켓컬리, is green, so natural, 오드리앤영, 랄라블라)

In [66]:
df = pd.DataFrame(columns=['브랜드명','소분류명','상품명','정가','할인가'])

In [76]:
# 마녀공장
df.loc[0] = ['마녀공장','선크림','아워 비건 선크림 시카','26,000원',' ']
df.loc[1] = ['마녀공장','스킨케어 시트마스크팩','아워 비건 어성초 시카 마스크','3,000원',' ']
df.loc[2] = ['마녀공장','클렌징 폼','아워 비건 어성초 시카 클렌징 폼','14,000원',' ']
df.loc[3] = ['마녀공장','기초 화장용 크림','아워 비건 어성초 시카 크림','28,000원',' ']
df.loc[4] = ['마녀공장',' ','아워 비건 어성초 98 시카 세럼','20,000원',' ']
df.loc[5] = ['마녀공장','기초 화장용 스킨','아워 비건 어성초 시카 토너','24,000원',' ']
df.loc[6] = ['마녀공장','색조 메이크업 립밤','아워 비건 컬러 립밤 그린 핑크','10,500원',' ']
df.loc[7] = ['마녀공장','색조 메이크업 립밤','아워 비건 립밤','9,500원',' ']
df.loc[8] = ['마녀공장','스크럽/필링크림','아워 비건 오곡라떼 스크럽 폼','16,000원',' ']
df.loc[9] = ['마녀공장','선크림','아워 비건 선플루이드 글로우','28,000원',' ']
df.loc[10] = ['마녀공장','선크림','아워 비건 선크림 베이직','26,000원',' ']

In [77]:
df[:3]

   브랜드명         소분류명                 상품명       정가 할인가
0  마녀공장          선크림        아워 비건 선크림 시카  26,000원
1  마녀공장  스킨케어 시트마스크팩    아워 비건 어성초 시카 마스크   3,000원
2  마녀공장        클렌징 폼  아워 비건 어성초 시카 클렌징 폼  14,000원

In [78]:
# 스킨푸드
df.loc[11] = ['스킨푸드','화장 비누','캐롯 카로틴 핸드메이드 솝 (100g)','12,000원',' ']
df.loc[12] = ['스킨푸드','클렌징 워터/젤','캐롯 카로틴 카밍 워터 패드 세트 (50g)','8,000원',' ']
df.loc[13] = ['스킨푸드','기초 화장용 에센스','유자 씨 잡티 맑음 에센스 (150ml)','34,000원',' ']
df.loc[14] = ['스킨푸드','스킨케어 마스크팩','라벤더 푸드마스크 (120g)','15,000원',' ']
df.loc[15] = ['스킨푸드','기초 화장용 크림','캐롯 카로틴 릴리프 크림 (55ml)','30,000원',' ']
df.loc[16] = ['스킨푸드','클렌징 워터/젤','캐롯 카로틴 카밍 워터 패드 (250g, 60매)','26,000원',' ']

In [79]:
df[11:14]

    브랜드명        소분류명                       상품명       정가 할인가
11  스킨푸드       화장 비누     캐롯 카로틴 핸드메이드 솝 (100g)  12,000원
12  스킨푸드    클렌징 워터/젤  캐롯 카로틴 카밍 워터 패드 세트 (50g)   8,000원
13  스킨푸드  기초 화장용 에센스    유자 씨 잡티 맑음 에센스 (150ml)  34,000원

In [81]:
# 마켓컬리 -> 멜릭서, 보나쥬르, 아떼, 아로마티카 제외
df.loc[17] = ['허블룸','기초 화장용 오일/앰플','비건 뷰티 페이스 오일 30ml','36,000원','23,400원']
df.loc[18] = ['카밀','색조 메이크업 립밤','립밤 3종 (비건)','6,200원','4,650원']
df.loc[19] = ['AHC','기능성 아이케어 화장품','퓨어 레스큐 리얼 아이크림 포 페이스 (비건)','20,000원','15,000원']
df.loc[20] = ['수이스킨','기초 화장용 오일/앰플','하얀 자작나무 수액 앰플 35ml','24,000원','16,800원']
df.loc[21] = ['수이스킨','화장 비누','맑은 아보밥 비누','16,000원','8,800원']
df.loc[22] = ['비브',' ','차가 리바이탈라이징 세럼','40,000원','24,000원']
df.loc[23] = ['온도','기초 화장용 에센스','구절초 수분 진정 에센스','42,000원','37,800원']
df.loc[24] = ['에이트루','클렌징 폼','오리진 퓨어 밸런싱 클렌징 폼','11,900원','8,449원']
df.loc[25] = ['온도','기초 화장용 오일/앰플','구절초 수분 진정 앰플 크림','39,000원','35,100원']
df.loc[26] = ['닥터올가','샴푸','로즈마리 민트 샴푸','28,000원','19,600원']
df.loc[27] = ['잉글롯','색조 메이크업 아이라이너','원 무브 리퀴드 아이라이너','18,000원',' ']
df.loc[28] = ['잉글롯','베이스 메이크업용 가루파우더','루스 파우더 5종','38,000원',' ']
df.loc[29] = ['베이지크','기초 화장용 에센스','트리트먼트 로션 120ml','42,000원',' ']
df.loc[30] = ['싸이닉','기초 화장용 로션','더 심플 데일리 로션 260ml','14,000원','12,880원']
df.loc[31] = ['닥터노아',' ','네추럴에프 치약','12,800원','6,400원']

In [83]:
df[17:20]

   브랜드명          소분류명                        상품명       정가      할인가
17  허블룸  기초 화장용 오일/앰플          비건 뷰티 페이스 오일 30ml  36,000원  23,400원
18   카밀    색조 메이크업 립밤                 립밤 3종 (비건)   6,200원   4,650원
19  AHC  기능성 아이케어 화장품  퓨어 레스큐 리얼 아이크림 포 페이스 (비건)  20,000원  15,000원

In [84]:
# is green
df.loc[32] = ['이즈그린','기초 화장용 크림','LHA 비건 크림','55,000원','49,500원']
df.loc[33] = ['이즈그린','기초 화장용 에센스','LHA 비건 에센스','59,000원','53,000원']
df.loc[34] = ['이즈그린','기초 화장용 스킨','LHA 비건 토너','39,000원','35,000원']
df.loc[35] = ['이즈그린','기능성 화장품 세트','LHA 비건 2종 SET','94,000원','80,000원']
df.loc[36] = ['이즈그린','기능성 화장품 세트','LHA 비건 3종 SET','153,000원','122,000원']

In [85]:
df[32:35]

    브랜드명        소분류명         상품명       정가      할인가
32  이즈그린   기초 화장용 크림   LHA 비건 크림  55,000원  49,500원
33  이즈그린  기초 화장용 에센스  LHA 비건 에센스  59,000원  53,000원
34  이즈그린   기초 화장용 스킨   LHA 비건 토너  39,000원  35,000원

In [86]:
# so natural
df.loc[37] = ['쏘내추럴','베이스 메이크업용 BB크림','쏘 비건 카밍 비비크림','24,000원',' ']
df.loc[38] = ['쏘내추럴','선크림','쏘 비건 카밍 선크림','25,000원',' ']
df.loc[39] = ['쏘내추럴','베이스 메이크업용 가루파우더','쏘 비건 카밍 스킨 파우더','18,000원','14,400원']
df.loc[40] = ['쏘내추럴','스킨케어 곡물팩','어글리 포테이토 마스크','26,000원','20,800원']
df.loc[41] = ['쏘내추럴','스크럽/필링크림','그린빈 커피 스크럽','28,000원','22,400원']
df.loc[42] = ['쏘내추럴','색조 메이크업 속눈썹영양제','쏘 비건 노니 아이래쉬 앰플','16,000원','11,200원']
df.loc[43] = ['쏘내추럴','스킨케어 시트마스크팩','쏘 비건 노니 딥 마스크','4,000원','2,800원']
df.loc[44] = ['쏘내추럴','기초 화장용 스킨','쏘 비건 노니 토너','24,000원','21,600원']
df.loc[45] = ['쏘내추럴','기초 화장용 크림','쏘 비건 노니 크림','33,000원','29,700원']
df.loc[46] = ['쏘내추럴','기초 화장용 오일/앰플','쏘 비건 노니 페이스 오일','35,000원','28,000원']
df.loc[47] = ['쏘내추럴','기능성 화장품 세트','쏘 비건 노니 2종','57,000원','51,300원']
df.loc[48] = ['쏘내추럴','스킨케어 마스크팩','쏘 비건 진저 클레이 마스크','28,000원','19,600원']
df.loc[49] = ['쏘내추럴','바디케어용 때비누','바디워시 바쓰 시카 솝','16,000원','9,600원']
df.loc[50] = ['쏘내추럴','바디케어용 때비누','바디워시 때밀이바쓰','15,000원','9,000원']
df.loc[51] = ['쏘내추럴','기초 화장용 스킨','플랜트 에센스 토너','25,000원','12,500원']
df.loc[52] = ['쏘내추럴','스킨케어 워시오프팩','카보닉 버블 클레이 마스크','25,000원',' ']

In [87]:
df[37:40]

    브랜드명             소분류명             상품명       정가      할인가
37  쏘내추럴   베이스 메이크업용 BB크림    쏘 비건 카밍 비비크림  24,000원
38  쏘내추럴              선크림     쏘 비건 카밍 선크림  25,000원
39  쏘내추럴  베이스 메이크업용 가루파우더  쏘 비건 카밍 스킨 파우더  18,000원  14,400원

In [88]:
# 오드리앤영
df.loc[53] = ['오드리앤영','스킨케어 시트마스크팩','아이 라이크 레드 스위트원 세럼 마스크','3,000원',' ']
df.loc[54] = ['오드리앤영','스킨케어 시트마스크팩','아이 라이크 시카 바이옴 세럼 마스크','3,000원',' ']
df.loc[55] = ['오드리앤영','클렌징 오일','시카 바이옴 클렌징 오일 250ml','29,000원',' ']
df.loc[56] = ['오드리앤영','클렌징 크림','시카 바이옴 클렌징 밤 100ml','28,000원',' ']
df.loc[57] = ['오드리앤영',' ','아이 라이크 레드 스위트원 세럼 30ml','32,000원',' ']
df.loc[58] = ['오드리앤영',' ','아이 라이크 블루밍 에너지 세럼 30ml','32,000원',' ']
df.loc[59] = ['오드리앤영','기초 화장용 오일/앰플','아이 라이크 컨센트레이트 오일 30ml','32,000원',' ']
df.loc[60] = ['오드리앤영',' ','아이 라이크 시카 바이옴 세럼 30ml','32,000원',' ']
df.loc[61] = ['오드리앤영','클렌징 폼','마이크로바이옴 클렌징 폼 120ml','15,000원','11,250원']
df.loc[62] = ['오드리앤영','클렌징 워터/젤','마이크로바이옴 클렌징 워터 400ml','22,000원','16,500원']
df.loc[63] = ['오드리앤영','클렌징 폼','(1+1) 버블 껌 핑크 클렌저 120ml','12,000원',' ']

In [90]:
df[53:56]

     브랜드명         소분류명                    상품명       정가 할인가
53  오드리앤영  스킨케어 시트마스크팩  아이 라이크 레드 스위트원 세럼 마스크   3,000원
54  오드리앤영  스킨케어 시트마스크팩   아이 라이크 시카 바이옴 세럼 마스크   3,000원
55  오드리앤영       클렌징 오일    시카 바이옴 클렌징 오일 250ml  29,000원

In [93]:
# 랄라블라
df.loc[64] = ['발롱블랑','기능성 영양보습 화장품','비건 알로에베라99 수딩젤 튜브형 200ml','4,000원','3,600원']
df.loc[65] = ['키핀터치','색조 메이크업 립틴트','젤리 립 플럼퍼 틴트','20,000원','9,900원']
df.loc[66] = ['키핀터치','색조 메이크업 아이브로우','유어 브로우 세럼 타투펜 YT02 다크브라운','15,000원','8,900원']
df.loc[67] = ['발롱블랑','기초 화장용 크림','울트라 하이드레이팅 페이셜 수분크림(비건) 50ml','30,000원','27,000원']
df.loc[68] = ['키핀터치','색조 메이크업 볼터치','아이스젤리 치크 블러셔','22,000원','9,900원']
df.loc[69] = ['키핀터치','색조 메이크업 아이섀도우','아이스젤리 아이팔레트','38,000원','16,900원']
df.loc[70] = ['쏘내추럴',' ','비건 메이크업 캄 픽서 100ml','22,000원','15,400원']
df.loc[71] = ['키핀터치','색조 메이크업 립틴트','무드 엠엘비비 벨벳틴트','19,000원','5,900원']

In [95]:
print(df.shape)
df.tail(3)

(72, 5)

    브랜드명           소분류명                 상품명       정가      할인가
69  키핀터치  색조 메이크업 아이섀도우         아이스젤리 아이팔레트  38,000원  16,900원
70  쏘내추럴                 비건 메이크업 캄 픽서 100ml  22,000원  15,400원
71  키핀터치    색조 메이크업 립틴트        무드 엠엘비비 벨벳틴트  19,000원   5,900원

In [96]:
df.to_csv('./cosmetic/기타(7곳).csv', index=False)