<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
data1 = pd.read_csv('./cosmetic/김수현.csv')
data2 = pd.read_excel('./cosmetic/민지현.xlsx', index_col=0)
data3 = pd.read_csv('./cosmetic/이정인.csv')
data4 = pd.read_csv('./cosmetic/최수진.csv')
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data4.shape)

(183, 6)
(245, 6)
(253, 6)
(820, 6)

In [3]:
data3.columns = ['브랜드','중분류','소분류','상품명','정가','할인가']
data4.columns = ['브랜드','중분류','소분류','상품명','정가','할인가']

In [4]:
data = pd.concat([data1, data2, data3, data4], axis=0)
print(data.shape)
data.head(3)

(1501, 6)

      브랜드        중분류          소분류      상품명      정가 할인가
0  Inglot  색조 메이크업 립  색조 메이크업 립스틱      립스틱  28,000
1  Inglot  색조 메이크업 립  색조 메이크업 립스틱   립스틱 매트  30,000
2  Inglot  색조 메이크업 립  색조 메이크업 립스틱  립새틴 립스틱  30,000

In [5]:
# 중복 제거
print(len(data[data.duplicated()]))
data.drop_duplicates(inplace=True)
data.reset_index(drop=True, inplace=True)

100

In [6]:
# 브랜드 확인
print(data.브랜드.nunique())
data.브랜드.unique()

38

array(['Inglot', '아렌시아', '아바마트', '캐트리스', '오셸로', '더비건글로우', '더말로지카',
       '라임크라임', '매닉패닉', '불독', '쿠모 브러쉬', '멜릭서', '보나쥬르', '이솔', '허블룸',
       '닥터브로너스', '러쉬', '아로마티카', '오엠', '이든 미네랄', '클레어스', '마녀공장', '스킨푸드',
       '카밀', 'AHC', '수이스킨', '비브', '온도', '에이트루', '닥터올가', '잉글롯', '베이지크',
       '싸이닉', '이즈그린', '쏘내추럴', '오드리앤영', '발롱블랑', '키핀터치'], dtype=object)

In [7]:
data[data.브랜드 == '잉글롯']

      브랜드          중분류              소분류             상품명       정가 할인가
1358  잉글롯   색조 메이크업 아이    색조 메이크업 아이라이너  원 무브 리퀴드 아이라이너  18,000원
1359  잉글롯  베이스 메이크업 제품  베이스 메이크업용 가루파우더       루스 파우더 5종  38,000원

'Inglot' 데이터와 '잉글롯' 데이터 중복

**1358행 삭제 및 1359행 브랜드명을 Inglot으로 변경**

In [8]:
data.drop([1358], axis=0, inplace=True)
data.loc[1359]['브랜드'] = 'Inglot'

In [9]:
data.reset_index(drop=True, inplace=True)
print(data.shape)

(1400, 6)

In [10]:
# 중분류 확인
print(data.중분류.nunique())
data.중분류.unique()

20

array(['색조 메이크업 립', '색조 메이크업 아이', '베이스 메이크업 제품', '색조 메이크업 기타', '뷰티 도구',
       '네일 제품', '메이크업 도구', '클렌징 용품', '헤어 케어', '기초 화장품', '기능성 화장품',
       '스킨 케어', '선 제품', '바디 케어', '헤어 미용', '남성 기타', '향수', '입욕제', '풋 제품',
       '핸드 제품'], dtype=object)

In [11]:
data.중분류.value_counts(ascending=False)

바디 케어          199
기초 화장품         189
클렌징 용품         182
향수             104
헤어 케어           88
베이스 메이크업 제품     80
입욕제             77
메이크업 도구         74
색조 메이크업 아이      72
색조 메이크업 립       72
기능성 화장품         58
네일 제품           52
스킨 케어           49
헤어 미용           40
색조 메이크업 기타      33
선 제품            10
핸드 제품            8
남성 기타            5
뷰티 도구            5
풋 제품             3
Name: 중분류, dtype: int64

In [12]:
# 소분류 확인
print(data.소분류.nunique())
data.소분류.unique()

73

array(['색조 메이크업 립스틱', '색조 메이크업 립틴트', '색조 메이크업 아이라이너', '색조 메이크업 아이섀도우',
       '색조 메이크업 마스카라', '베이스 메이크업용 가루파우더', '베이스 메이크업용 컨실러', '색조 메이크업 볼터치',
       '색조 메이크업 쉐딩/하이라이터', '베이스 메이크업용 메이크업베이스', '뷰티 손거울', '네일컬러',
       '메이크업 브러쉬', '화장 비누', '샴푸', '린스', '베이스 메이크업용 파운데이션', '픽싱 스프레이',
       '베이스 메이크업용 프라이머', '기초 화장용 오일/앰플', '색조 메이크업 아이브로우', '색조 메이크업 세트',
       '색조 메이크업 립밤', '립메이크업', '기능성 영양보습 화장품', '클렌징 폼', '기능성 화장품 세트',
       '헤어케어세트', '클렌징 워터/젤', '스킨케어 마스크팩', '기초 화장용 미스트', '기능성 링클케어 화장품',
       '기능성 화이트닝 화장품', '기능성 아이케어 화장품', '선크림', '바디 보습제', '색조 메이크업 립라이너',
       '색조 메이크업 립글로스', '헤어스타일링용 염색약', '남성 쉐이빙', '기초 화장용 스킨', '기초 화장용 크림',
       '기초 화장용 에센스', '클렌징 오일', '스크럽/필링크림', '기초 화장용 로션', '화장 퍼프',
       '스킨케어 머드팩', '바디 클렌져', '뷰티용 여드름압출기', '헤어케어', '기능성 트러블케어 화장품',
       '클렌징 파우더', '바디케어용 때비누', '헤어에센스', '남성 클렌징', '여성향수', '입욕제', '클렌징 크림',
       '헤어왁스', '트리트먼트', '풋워시/스크럽', '바디 스크럽', '바디케어용 청 결제', '핸드크림',
       '핸드워시/스크럽', '클렌징 로션', '기능성 모공관리 화장품', '스킨케어 시트마스크팩',
       '베이스 메이크업용 BB크림', '스킨케어 곡물팩', '색조 메이크업 속눈썹영양제', '스킨케어 워시오프팩'],
      dtype=object)

In [13]:
data.소분류.value_counts(ascending=False)[:15]

바디 클렌져             107
여성향수               104
입욕제                 77
메이크업 브러쉬            74
클렌징 오일              54
네일컬러                52
베이스 메이크업용 파운데이션     52
기초 화장용 크림           48
바디케어용 때비누           48
기초 화장용 스킨           45
기초 화장용 에센스          44
색조 메이크업 아이섀도우       43
샴푸                  42
헤어스타일링용 염색약         39
바디 보습제              38
Name: 소분류, dtype: int64

In [14]:
# 상품명 확인
print(data.상품명.nunique())

1237

In [15]:
# 정가 확인
data.drop(data[data.정가 == ' '].index, axis=0, inplace=True) # 공백 데이터 제거
data.reset_index(drop=True, inplace=True)

In [16]:
data['정가'] = data['정가'].apply(lambda x: str(x))
data['정가'] = data['정가'].apply(lambda x: x.replace(',','').replace('원',''))

In [17]:
data.정가.unique()

array(['28000', '30000', '12000', '26000', '35000', '18000', '29000',
       '24000', '36000', '38000', '25000', '34000', '32000', '42000',
       '40000', '22000', '14000', '20000', '8000', '9000', '19000',
       '7000', '15000', '65000', '45000', '50000', '60000 ', '40000 ',
       '28000 ', '24000 ', '65000 ', '50000 ', '20000 ', '18000 ',
       '31000 ', '159000', '16000', '33000', '54000', '6200', '14400',
       '9600', '10800', '25050', '19125', '20900', '13900', '11000',
       '5850', '5500', '10500', '7200', '14900', '22800', '8700', '15900',
       '12800', '18900', '7800', '8900', '21900', '5200', '4900', '4500',
       '9900', '7900', '10100', '6400', '19900', '27800', '8500', '19200',
       '4800', '5000', '26800', '15200', '5900', '6900', '3900', '9500',
       '6500', '4600', '3600', '22500', '8100', '10000', '7400', '6300',
       '80000', '63000', '79000', '60000', '2000', '59000', '49000',
       '82000', '51000', '61000', '18500', '27000', '78000', '55250',
       '83000', '149000', '97000', '150000', '41650', '81000', '138000',
       '72250', '119000', '118000', '96000', '76000', '57800', '115000',
       '259000', '300', '68000', '95000', '66300', '26350', '27900',
       '31000', '22475', '25575', '28675', '86800', '54250', '34100',
       '80600', '27125', '9200', '8800', '11300', '11800', '11900',
       '21000', '50400', '69900', '104000', '35900', '39500', '55000',
       '86000', '66000', '48000', '44000', '9800', '43000', '49500',
       '7500', '52000', '75500', '131000', '29200', '35700', '187000',
       '54800', '241800', '319100', '64900', '37000', '72700', '56000',
       '53500', '78500', '38800', '140000', '23000', '4000', '3000',
       '4300', '500', '38500', '24900', '18800', '19800', '12900',
       '16900', '25900', '9450', '15690', '23900', '13800', '7420',
       '11840', '4400', '1500', '12500', '69000', '72000', '34400',
       '110000', '190000', '130000', '320000', '17000', '220000',
       '280000', '330000', '13000', '170000', '75000', '85000', '430000',
       '90000', '6000', '108000', '176000', '198000', '240000', '139000',
       '39000', '99000', '25400', '43900', '30400', '26900', '51400',
       '43800', '49900', '31900', '25500', '17500', '29500', '19500',
       '24500', '22900', '59900', '29400', '94000', '153000', '57000'],
      dtype=object)

In [18]:
# 할인가 확인
data['할인가'].loc[data[data.할인가.isna()].index] = ' '

In [20]:
data['할인가'] = data['할인가'].apply(lambda x: str(x))
data['할인가'] = data['할인가'].apply(lambda x: x.replace(',','').replace('원',''))
# data['할인가'] = data['할인가'].apply(lambda x: int(x) if x != ' ' else x)

In [21]:
data.할인가.unique()

array([' ', '60000 ', '24000 ', '28000 ', '16000 ', '50000 ', '13000 ',
       '25000 ', '18000 ', '9000', '85000', '11000', '12000', '10000',
       '18000', '20000', '29000', '42000', '33000', '31000', '8000',
       '33400', '25500', '27000', '16000', '6500', '8500', '13500',
       '29500', '39800', '24000', '6000', '19900', '13000', '4500',
       '5000', '15000', '9900.0', '30000.0', '12000.0', '15500.0',
       '56500.0', '30500.0', '23500.0', '56700.0', '71100.0', '54000.0',
       '23250.0', '20925.0', '65100.0', '40688.0', '26300.0', '21500.0',
       '7900.0', '13800.0', '15200.0', '24900.0', '25900.0', '26900.0',
       '27900.0', '28000.0', '34800.0', '17900.0', '19000.0', '18300.0',
       '16800.0', '18900.0', '12900.0', '5900.0', '28800.0', '46800.0',
       '25800.0', '35900.0', '38900.0', '23000', '70000', '54000',
       '22000', '15800', '34000', '7900', ' 8500', ' 9000', ' 8000',
       ' 16000', ' 9800', ' 18000', ' 14500', ' 14000', ' 32000',
       ' 37500', ' 36000', ' 40200', ' 17000', ' 34000', ' 66800',
       ' 89300', ' 27000', ' 21800', ' 26700', ' 61700', ' 43000',
       ' 99500', ' 158400', ' 28000', ' 49800', ' 27700', ' 54400',
       ' 60000', ' 47500', ' 19500', ' 67000', ' 33000', ' 21000',
       ' 89000', ' 10800', ' 10900', ' 15000', ' 11500', ' 3500',
       ' 35000', ' 4200', ' 35700', ' 1500', ' 31000', ' 13500', ' 24500',
       ' 4500', ' 29000', ' 14900', ' 15900', ' 13900', ' 19800',
       ' 38000', ' 53200', ' 62000', '16800', '12800', '6400', '3440',
       '24800', '10800', '9600', '19800', '16200', '7800', '15600',
       '7200', '13200', '21000', '22200', '12600', '4200', '35400',
       '11400', '19200', '17400', '10200', '158400', '52800', '65600',
       '22800', '39500', '27900', '27300', '46200', '39400', '44900',
       '50900', '23400', '4650', '8800', '37800', '8449', '35100',
       '19600', '12880', '49500', '53000', '35000', '80000', '122000',
       '14400', '20800', '22400', '11200', '2800', '21600', '29700',
       '28000', '51300', '12500', '11250', '16500', '3600', '9900',
       '8900', '16900', '5900'], dtype=object)